/* Styles for the cart table */
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  .empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .quantity-btn {
    cursor: pointer;
    font-size: 25px;
    margin: auto 0px auto 0px;
    padding: 3px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  td button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #d32f2f;
    }
  }
}