.remita-pay-button {
    display: flex;
    padding: 15px;
    background-color: #F26524;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    color: white;

    &:hover {
        background-color: #D14A0C;
        color: black;
    }
}